node_modules
dist
.env
redis-server

Dockerfile

.dockerignore

.env.local

tsup.config.json

**/yarn.lock
**/package-lock.json
**/pnpm-lock.yaml

*.log
.vercel
.next

coverage
.contentlayer

.DS_Store