KV_URL="rediss://default:AXFKAAIjcDEzYjY2ZmE0NjdlYjA0YTgwOWI3N2Y3OWZiYjUzODVlZHAxMA@hopeful-duckling-29002.upstash.io:6379"
KV_REST_API_READ_ONLY_TOKEN="AnFKAAIgcDG1ajpreHaFZAeZrZwD0RoUDkNLm-zisRFoJLB5GwuGcQ"
REDIS_URL="rediss://default:AXFKAAIjcDEzYjY2ZmE0NjdlYjA0YTgwOWI3N2Y3OWZiYjUzODVlZHAxMA@hopeful-duckling-29002.upstash.io:6379"
KV_REST_API_TOKEN="AXFKAAIjcDEzYjY2ZmE0NjdlYjA0YTgwOWI3N2Y3OWZiYjUzODVlZHAxMA"
KV_REST_API_URL="https://hopeful-duckling-29002.upstash.io"
